coin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ws.server.coin.sec.ist/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.server.coin.sec.ist/"
        name="Coin">

    <types>
        <xs:schema xmlns:tns="http://ws.server.coin.sec.ist/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
                   targetNamespace="http://ws.server.coin.sec.ist/">
            <xs:element name="AuditException" type="tns:AuditException"/>
            <xs:element name="CheckAccountException" type="tns:CheckAccountException"/>
            <xs:element name="EchoException" type="tns:EchoException"/>
            <xs:element name="ReceiveAmountException" type="tns:ReceiveAmountException"/>
            <xs:element name="RegisterException" type="tns:RegisterException"/>
            <xs:element name="SendAmountException" type="tns:SendAmountException"/>
            <xs:complexType name="EchoException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RegisterException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionView">
                <xs:sequence>
                    <xs:element name="uid" type="xs:string" minOccurs="0"/>
                    <xs:element name="source" type="xs:string" minOccurs="0"/>
                    <xs:element name="destination" type="xs:string" minOccurs="0"/>
                    <xs:element name="amount" type="xs:int"/>
                    <xs:element name="sourceSignature" type="xs:base64Binary" minOccurs="0"/>
                    <xs:element name="destinationSignature" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendAmountException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AccountStatusView">
                <xs:sequence>
                    <xs:element name="balance" type="xs:int"/>
                    <xs:element name="transactions" type="tns:TransactionView" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CheckAccountException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReceiveAmountException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuditView">
                <xs:sequence>
                    <xs:element name="transactions" type="tns:TransactionView" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AuditException">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="echo">
        <part name="message" type="xsd:string"/>
    </message>
    <message name="echoResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="EchoException">
        <part name="fault" element="tns:EchoException"/>
    </message>
    <message name="sendAmount">
        <part name="transaction" type="tns:TransactionView"/>
    </message>
    <message name="sendAmountResponse"/>
    <message name="SendAmountException">
        <part name="fault" element="tns:SendAmountException"/>
    </message>
    <message name="checkAccount">
        <part name="fingerprint" type="xsd:string"/>
    </message>
    <message name="checkAccountResponse">
        <part name="return" type="tns:AccountStatusView"/>
    </message>
    <message name="CheckAccountException">
        <part name="fault" element="tns:CheckAccountException"/>
    </message>
    <message name="receiveAmount">
        <part name="transaction" type="tns:TransactionView"/>
    </message>
    <message name="receiveAmountResponse"/>
    <message name="ReceiveAmountException">
        <part name="fault" element="tns:ReceiveAmountException"/>
    </message>
    <message name="audit">
        <part name="address" type="xsd:string"/>
    </message>
    <message name="auditResponse">
        <part name="return" type="tns:AuditView"/>
    </message>
    <message name="AuditException">
        <part name="fault" element="tns:AuditException"/>
    </message>
    <message name="noticeMeSenpai">
        <part name="wsURL" type="xsd:string"/>
    </message>
    <message name="noticeMeSenpaiResponse"/>
    <message name="register">
        <part name="publicKeyBytes" type="xsd:base64Binary"/>
    </message>
    <message name="registerResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="RegisterException">
        <part name="fault" element="tns:RegisterException"/>
    </message>
    <!-- Messages for testing and sync -->
    <message name="clean"/>
    <message name="cleanResponse"/>
    <message name="doClean"/>
    <message name="doCleanResponse"/>
    <message name="doRegister">
        <part name="publicKeyBytes" type="xsd:base64Binary"/>
    </message>
    <message name="doRegisterResponse">
        <part name="return" type="xsd:boolean"/>
    </message>
    <message name="doSendAmount">
        <part name="transaction" type="tns:TransactionView"/>
    </message>
    <message name="doSendAmountResponse">
        <part name="return" type="xsd:boolean"/>
    </message>
    <message name="doReceiveAmount">
        <part name="transaction" type="tns:TransactionView"/>
    </message>
    <message name="doReceiveAmountResponse">
        <part name="return" type="xsd:boolean"/>
    </message>

    <portType name="CoinServicePortType">
        <operation name="echo">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/echoRequest"
                   message="tns:echo"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/echoResponse"
                    message="tns:echoResponse"/>
            <fault message="tns:EchoException" name="EchoException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/echo/Fault/EchoException"/>
        </operation>
        <operation name="sendAmount">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/sendAmountRequest"
                   message="tns:sendAmount"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/sendAmountResponse"
                    message="tns:sendAmountResponse"/>
            <fault message="tns:SendAmountException" name="SendAmountException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/sendAmount/Fault/SendAmountException"/>
        </operation>
        <operation name="checkAccount">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/checkAccountRequest"
                   message="tns:checkAccount"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/checkAccountResponse"
                    message="tns:checkAccountResponse"/>
            <fault message="tns:CheckAccountException" name="CheckAccountException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/checkAccount/Fault/CheckAccountException"/>
        </operation>
        <operation name="receiveAmount">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/receiveAmountRequest"
                   message="tns:receiveAmount"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/receiveAmountResponse"
                    message="tns:receiveAmountResponse"/>
            <fault message="tns:ReceiveAmountException" name="ReceiveAmountException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/receiveAmount/Fault/ReceiveAmountException"/>
        </operation>
        <operation name="audit">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/auditRequest"
                   message="tns:audit"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/auditResponse"
                    message="tns:auditResponse"/>
            <fault message="tns:AuditException" name="AuditException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/audit/Fault/AuditException"/>
        </operation>
        <operation name="noticeMeSenpai">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/noticeMeSenpaiRequest"
                   message="tns:noticeMeSenpai"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/noticeMeSenpaiResponse"
                    message="tns:noticeMeSenpaiResponse"/>
        </operation>
        <operation name="register">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/registerRequest"
                   message="tns:register"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/registerResponse"
                    message="tns:registerResponse"/>
            <fault message="tns:RegisterException" name="RegisterException"
                   wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/register/Fault/RegisterException"/>
        </operation>
        <operation name="clean">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/cleanRequest"
                   message="tns:clean"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/cleanResponse"
                    message="tns:cleanResponse"/>
        </operation>
        <operation name="doClean">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doCleanRequest"
                   message="tns:doClean"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doCleanResponse"
                    message="tns:doCleanResponse"/>
        </operation>
        <operation name="doRegister">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doRegister"
                   message="tns:doRegister"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doRegisterResponse"
                    message="tns:doRegisterResponse"/>
        </operation>
        <operation name="doSendAmount">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doSendAmountRequest"
                   message="tns:doSendAmount"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doSendAmountResponse"
                    message="tns:doSendAmountResponse"/>
        </operation>
        <operation name="doReceiveAmount">
            <input wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doReceiveAmountRequest"
                   message="tns:doReceiveAmount"/>
            <output wsam:Action="http://ws.server.coin.sec.ist/CoinServicePortType/doReceiveAmountResponse"
                    message="tns:doReceiveAmountResponse"/>
        </operation>
    </portType>

    <binding name="CoinServicePortTypeImplPortBinding" type="tns:CoinServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="echo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="EchoException">
                <soap:fault name="EchoException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="SendAmountException">
                <soap:fault name="SendAmountException" use="literal"/>
            </fault>
        </operation>
        <operation name="checkAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="CheckAccountException">
                <soap:fault name="CheckAccountException" use="literal"/>
            </fault>
        </operation>
        <operation name="receiveAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="ReceiveAmountException">
                <soap:fault name="ReceiveAmountException" use="literal"/>
            </fault>
        </operation>
        <operation name="audit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="AuditException">
                <soap:fault name="AuditException" use="literal"/>
            </fault>
        </operation>
        <operation name="noticeMeSenpai">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
        <operation name="register">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
            <fault name="RegisterException">
                <soap:fault name="RegisterException" use="literal"/>
            </fault>
        </operation>
        <operation name="clean">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
        <operation name="doClean">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
        <operation name="doRegister">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
        <operation name="doSendAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
        <operation name="doReceiveAmount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.server.coin.sec.ist/"/>
            </output>
        </operation>
    </binding>

    <service name="CoinService">
        <port name="CoinServicePort" binding="tns:CoinServicePortTypeImplPortBinding">
            <soap:address location="http://localhost:8090/ws/coin"/>
        </port>
    </service>

</definitions>
